.row div {
	/*padding: 20px !important;*/
	cursor: pointer;
}

#viewer {
	margin-top: 10px;
}

.-list p {
	text-align: center;
}

#viewer img {
    height: 500px;
    max-width: 500px;
    max-height: 500px;
    position: absolute;
    margin: auto;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
}

#viewer .dropdown-trigger {
	position: absolute;
    right: 15px;
}

#viewer .dropdown-trigger:nth-child(1) {
	margin-top: 40px;
}

._control {
	width: 100%;
	padding: 10px;
	position: fixed;
	z-index: 999;
	bottom: 0;
	margin: 0;
	left: 0;
}

._control .row .col {
	padding: 0px;
}

._active {
	border: 2px solid red;
}

.range-field {
	margin: 0;
}

#quick-pose .row div {

}

img {
	width: 100%;
	height: 100%;
}

.text-center {
	text-align: center;
}

#_index {
	font-size: 30px;
}

._title {
	font-size: 30px;
	color: red;
}

#_sec {
	font-size: 30px;
}

#_playSec {
	font-size: 20px;
}

#_sec-next {
	font-size: 10em;
	height: 500px;
    position: fixed;
    margin: auto;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

#main {
	margin-top: 20px;
}

#main .row .col {
	cursor: pointer;
	padding: 10px;
	border: 1px solid black;
}

.-list {
	    margin-top: 135px;
}

.-list img {
	border: 1px solid black;
}

._flex_navbar {
	display: revert;
    position: fixed;
    top: 0;
    padding-top: 5px;
    left: 0;
    width: 100%;
}

.-count {
	 margin-left: 15px;
    font-size: 30px;
    top: 10px;
    position: inherit;
}

#_status i {
	vertical-align: -webkit-baseline-middle;
}

.mirrorRotateLevel {          /* 水平镜像翻转 */
	transform: rotateY(180deg) !important; 
    -moz-transform:scaleX(-1) !important;
    -webkit-transform:scaleX(-1) !important;
    -o-transform:scaleX(-1) !important;
    transform:scaleX(-1) !important;
    /*兼容IE*/
    filter:FlipH !important;;
}
.mirrorRotateVertical {        /* 垂直镜像翻转 */
	 transform: rotateX(180deg) !important;
    -moz-transform:scaleY(-1) !important;
    -webkit-transform:scaleY(-1) !important;
    -o-transform:scaleY(-1) !important;
    transform:scaleY(-1) !important;
    /*兼容IE*/
    filter:FlipV !important;
}

#modal_setting {
	min-height: 300px;
}

#modal_setting select {
	margin-top: 10px;
}

a[data-target='dropdown1'] {
	z-index: 999;
}